<div class="container-fluid">
	<div class="row mb-5">
		<div class="col-12 mb-3 fs-3">No tienes autorización para ingresar</div>
		<div class="col-12">
			<a class="btn btn-primary" href="/login">Ingresar</a>
		</div>
	</div>
</div>